<h5>The Swappers</h5>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @swappers.each do |swapper| %>
    <tr>
      <td><%= swapper.name %></td>      
      <td><%= swapper.email %></td>      
      <td><%= link_to "Edit", edit_group_swapper_path(@group, swapper) %></td>      
    </tr>
  <% end %>
  </tbody>
</table>
