<h5>The Swappers</h5>
<ol>
  <% @group.swappers.each do |swapper| %>
    <li>
      <%= swapper.name %> | <%= swapper.email %> | <%= link_to "Edit", edit_group_swapper_path(@group, swapper) %>
    </li>
  <% end %>
</ol>