<%= render partial: "groups/group_header", locals: { group: @group } %>

<div class="row">
  <div class="six columns">
    <%= render partial: "groups/swapper_list", locals: { group: @group, swappers: @swappers } %>
  </div>

  <div class="three columns">
    <h5>Add a swapper</h5>

    <%= render partial: "swappers/form", locals: { group: @group, swapper: @swapper } %>

  </div>

  <div class="three columns">
    <div class="four columns">
      <%= render partial: "groups/group_links", locals: { group: @group } %>
    </div>
  </div>
</div>

