<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @gifter.name %></p>

    <p>YOUR SECRET SOCKER IS <%= @giftee.name %></p>

    <p>The gift topic this year, will be socks. Yea, I said it. Socks.  Get creative and have fun with it.</p>

    <p>RULES:</p>
    <p>
      TUBE SOCKS AND DOLLAR STORE SOCKS ARE NOT ACCEPTED. The consequence for gifting tube socks or Dollar Store socks will immediate disqualification and a five year suspension from all family gift exchanges.
    </p>

    <p>Merry Christmas to all.</p>
  </body>
</html>