<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @gifter.name %></p>

    <p>YOUR SECRET GIFTEE IS <%= @giftee.name %></p>

    <p>This is the person you will be getting an ornament for.  
    Please do not reveal this name to anyone. 
    If your dad calls and says "So, whose name did you draw, hmm?" just change the subject and come find Coll.</p>

    <p>The exchange will take place on Christmas day.</p>

    <p>Merry Christmas to all.</p>
  </body>
</html>