<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <p>Hi <%= @gifter.name %></p>
    <p>
      THIS YEAR, AS A GIFT EXCHANGE, WE HAVE DECIDED, COLLECTIVELY, TO DRAW NAMES .  THE GIFT TOPIC THIS YEAR, WILL BE SOCKS.  YEA, I SAID IT. SOCKS. GET CREATIVE AND HAVE FUN WITH IT.
    </p>
    <p>YOUR SECRET SOCKER IS <%= @giftee.name %></p>

    <p>
      RULES: TUBE SOCKS AND DOLLAR STORE SOCKS ARE NOT ACCEPTED. THE CONSEQUENCE FOR GIFTING TUBE
    </p>
  </body>
</html>